
[data-md-color-scheme="polyhammer-dark"] .md-typeset h1 {
    font-weight: 600;
    color: white;
}

[data-md-color-scheme="polyhammer-light"] .md-typeset h1 {
    font-weight: 600;
}

.md-typeset h2 {
    color: var(--md-primary-fg-color--light);
    font-weight: 400;
}


/*
    Gradient coming from header
*/
[data-md-color-scheme="polyhammer-dark"] .header-gradient{
    background: radial-gradient(70.81% 208.07% at 49.97% 160.07%, #cba03531 0%, #cba0351a 100%);
    z-index: -99;
    width: 100%;
    filter: blur(100px);
    height: 20vh;
    transform: rotate(180deg);
    position: absolute;
    top: -10px;
    left: 0;  
}

/* 
    Dark mode color scheme
*/
[data-md-color-scheme="polyhammer-dark"] {
    --md-default-fg-color: #cecece;
    --md-default-fg-color--light: #cececed9;
    --md-default-fg-color--lighter: #cecece8e;
    --md-default-fg-color--lightest: #cecece18;

    --md-default-bg-color: #101010;
    --md-default-bg-color--light: #101010b3;
    --md-default-bg-color--lighter: #1010104d;
    --md-default-bg-color--lightest: #1010101f;

    --md-code-fg-color: #ffffff;
    --md-code-bg-color: #ffffff0d;
    --md-code-hl-color: #4287ff;
    --md-code-hl-color--light: #4287ff1a;
    --md-code-hl-number-color: #d52a2a;
    --md-code-hl-special-color: #db1457;
    --md-code-hl-function-color: #a846b9;
    --md-code-hl-constant-color: #6e59d9;
    --md-code-hl-keyword-color: #3f6ec6;
    --md-code-hl-string-color: #1c7d4d;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);

    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: #CBA135;
    --md-typeset-del-color: #f54f3da2;
    --md-typeset-ins-color: #0bd570a2;
    --md-typeset-kbd-color: #fafafa;
    --md-typeset-kbd-accent-color: #fff;
    --md-typeset-kbd-border-color: #b8b8b8;
    --md-typeset-mark-color: #ffff00a2;
    --md-typeset-table-color: #ffffff3d;
    --md-typeset-table-color--light: rgba(0, 0, 0, .035);

    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);

    --md-warning-fg-color: #000000de;
    --md-warning-bg-color: #ff9;

    --md-footer-fg-color: #CBA135;
    --md-footer-fg-color--light: #ffffffb3;
    --md-footer-fg-color--lighter: #ffffff73;
    --md-footer-bg-color: #000000de;
    --md-footer-bg-color--dark: #00000052;
    
    --md-shadow-z1: 0 0.2rem 0.5rem #cba1350d, 0 0 0.05rem #cba1351a;
    --md-shadow-z2: 0 0.2rem 0.5rem #cba1351a, 0 0 0.05rem #cba13540;
    --md-shadow-z3: 0 0.2rem 0.5rem #0003, 0 0 0.05rem #cba13559;

    --md-primary-fg-color:        #0000009c;
    --md-primary-fg-color--light: #CBA135;
    --md-primary-fg-color--dark:  #000000;

    --md-accent-fg-color: #cba035d2;
    --md-accent-fg-color--transparent: #cba03557;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;
}

/* 
    Light mode color scheme
*/
[data-md-color-scheme="polyhammer-light"] {
    --md-default-fg-color: #000000;
    --md-default-fg-color--light: #000000d9;
    --md-default-fg-color--lighter: #0000008e;
    --md-default-fg-color--lightest: #00000018;

    --md-default-bg-color: #ffffff;
    --md-default-bg-color--light: #ffffffb3;
    --md-default-bg-color--lighter: #ffffff4d;
    --md-default-bg-color--lightest: #ffffff1f;

    --md-code-fg-color: #000000;
    --md-code-bg-color: #e6e6e6;
    --md-code-hl-color: #4287ff;
    --md-code-hl-color--light: #4287ff1a;
    --md-code-hl-number-color: #d52a2a;
    --md-code-hl-special-color: #db1457;
    --md-code-hl-function-color: #a846b9;
    --md-code-hl-constant-color: #6e59d9;
    --md-code-hl-keyword-color: #3f6ec6;
    --md-code-hl-string-color: #1c7d4d;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);

    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: #CBA135;
    --md-typeset-del-color: #f54f3da2;
    --md-typeset-ins-color: #0bd570a2;
    --md-typeset-kbd-color: #fafafa;
    --md-typeset-kbd-accent-color: #fff;
    --md-typeset-kbd-border-color: #b8b8b8;
    --md-typeset-mark-color: #ffff00a2;
    --md-typeset-table-color: #0000003d;
    --md-typeset-table-color--light: rgba(0, 0, 0, .035);

    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);

    --md-warning-fg-color: #000000de;
    --md-warning-bg-color: #ff9;

    --md-footer-fg-color: #CBA135;
    --md-footer-fg-color--light: #ffffffb3;
    --md-footer-fg-color--lighter: #ffffff73;
    --md-footer-bg-color: #000000de;
    --md-footer-bg-color--dark: #00000052;
    
    --md-shadow-z1: 0 0.2rem 0.5rem #cba1350d, 0 0 0.05rem #cba1351a;
    --md-shadow-z2: 0 0.2rem 0.5rem #cba1351a, 0 0 0.05rem #cba13540;
    --md-shadow-z3: 0 0.2rem 0.5rem #0003, 0 0 0.05rem #cba13559;

    --md-primary-fg-color:        #000000;
    --md-primary-fg-color--light: #CBA135;
    --md-primary-fg-color--dark:  #000000;

    --md-accent-fg-color: #cba035d2;
    --md-accent-fg-color--transparent: #cba0352f;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;
}

/*
    Frosted Header
*/
.md-header {
    backdrop-filter: blur(10px);
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 2rem;
}

header {
    border-bottom: 0.5px solid #333333;
}

/* 
    Footer
 */
footer {
    border-top: 0.5px solid #333333;
}


.md-typeset code {
    border-radius: .3rem;
}


/* 
Remove nav primary and secondary shadows and background
*/
@media screen and (min-width: 60em) {
    .md-nav--secondary .md-nav__title {
        background: none;
        box-shadow: none;
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

@media screen and (min-width: 76.25em) {
    .md-nav--primary .md-nav__title {
        background: none;
        box-shadow: none;
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

